<div class="deals_wrapper">
<div class="deals_heading">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-xl-8">
            <p id="deals_heading_title">Best Online Deals</p>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-xl-2">
            <p>By Categories</p>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-xl-2">
            <p>By Merchants</p>
        </div>
    </div>
</div>    
<div class="content row" ng-controller='dealsController'>
    <div ng-repeat='data in deals.deals.data' class="deals_container col-lg-3 col-xs-2 col-sm-3 col-xl-3">
        <div>
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-xs-6 col-xl-6">
                    <span><img src="../images/likes.png"></span>
                    <span>{{data.score}}</span>
                    <span><img src="../images/comments.png"></span>
                    <span>{{data.comments_count}}</span>
                </div>
                 <div class="col-lg-6 col-sm-6 col-xs-6 col-xl-6 state">
                    <span>{{data.state}}</span>
                </div>
            </div>
        </div>
        <div class="deal_image">
            <img ng-src="{{data.image}}">
        </div>
        <div class="deal_title">
            {{data.title}}
        </div>
        <div class="deal_price">
            <p id="current_price">&#8377;{{data.current_price}}</p>
            <span id="discount_data">{{data.off_percent}}%OFF</span>
            <span id="original_price">&#8377;{{data.original_price}}</span>
        </div>
        <div class="merchant_data">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-xs-6 col-xl-6 merchant_name">
                     <p>{{data.merchant.name}}</p>
                </div>
            <div class="col-lg-6 col-sm-6 col-xs-6 col-xl-6 get_deals">
                 <a href="{{data.share_url}}">Get Deals</a>
            </div>   
           
        </div>
        <div class="user">
            <p>{{data.user.name}}</p>
        </div>
    </div>
</div>  
</div>    